body{
	background-color: $main-bg-color;
}
a{

}
.map{
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.location{	
	font-size: 20px;
	background-color: lightgrey;
	padding: 20px;
	margin:20px; 
	height: 30px;
}
.search-box{
	font-size: 70px;
	margin: $search-margin;
}
.submit{
	padding: $search-padding;
	border-radius: 10%;
}
.results{
	display: flex;
	flex-wrap: wrap;
}
.result{
	background-color: lightgrey;
	border-radius: 10%;
	padding: 10px;
	margin: 10px;
}
